            * {
                margin: 0%;
                padding: 0%;
            }
            
            body {
                background-color: rgba(51, 51, 51, 1);
            }
            
            header {
                display: flex;
                flex-direction: column;
                color: white;
                width: 100%;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                background-image: url(../project2/pics/header.jpg);
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .fixedpanel {
                position: fixed;
                width: 8%;
                height: 100%;
                background-color: rgb(78, 76, 76);
                filter: opacity(70%);
                left: 1px;
                top: 1px;
            }
            
            .topline {
                position: absolute;
                width: 100%;
                left: 405px;
                top: 50px;
            }
            
            .topline__menu {
                display: flex;
                flex-direction: row;
                top: 51px;
                border-radius: nullpx;
                filter: opacity(90%);
            }
            
            .menu__item1 {
                width: fit-content;
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 30px 0 0;
            }
            
            .menu__item2 {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0px 30px;
            }
            
            .menu__item3 {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 30px;
            }
            
            .menu__item4 {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 30px;
            }
            
            .menu__item5 {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 30px;
            }
            
            .menu__phone {
                display: flex;
                flex-direction: column;
                /*position: absolute;*/
                width: 119px;
                height: 27px;
                /* left: 1396px;*/
                top: 50px;
                margin: 0 0 0 200px;
            }
            
            .phone__number {
                height: 22px;
                left: 1396px;
                top: 50px;
                /* p / 16b */
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                /* identical to box height */
                text-align: right;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
            
            .phone__block {
                width: inherit;
                height: 0px;
                left: 1396px;
                top: 77px;
                /* gold */
                border: 2px solid #D1A954;
                background-color: #D1A954;
            }
            
            .bodyofheader {
                display: flex;
                flex-direction: row;
                /* width: 1920px;*/
                height: 1045px;
                left: 0px;
                top: 0px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            
            .forheader__headline {
                position: absolute;
                width: 540px;
                height: 68px;
                left: 405px;
                top: 384px;
                /* heading / h1-64b */
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 87px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                /* white */
                color: #FFFFFF;
            }
            
            .forheader__maintext {
                position: absolute;
                width: 540px;
                height: 79px;
                left: 405px;
                top: 502px;
                /* p / 14r */
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                filter: opacity(50%);
            }
            
            .forbooklet__picture {
                margin-left: 1070px;
                margin-top: 267px;
                z-index: 1;
                position: absolute;
            }
            
            .forbooklet__picture2 {
                margin-left: 1100px;
                margin-top: 297px;
                position: absolute;
            }
            
            .forbooklet__arrows {
                margin-left: 975px;
                margin-top: 780px;
                color: white;
                font-size: 28px;
                white-space: pre-wrap;
                position: absolute;
                font-family: Open Sans Condensed;
                font-style: normal;
            }
            
            .arrows__space {
                padding: 0px 100px;
            }
            
            .button__forheader {
                position: absolute;
                width: 160px;
                height: 50px;
                left: 405px;
                top: 630px;
                /* gold */
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                /* white */
                color: #FFFFFF;
                padding: 0 50px;
            }
            
            main {
                position: relative;
                height: fit-content;
            }
            
            .about {
                filter: opacity(80%);
                margin: 150px 405px;
            }
            
            .about__body {
                display: flex;
                flex-direction: row;
            }
            
            .about__headline {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 65px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: white;
                margin-bottom: 100px;
            }
            
            .about__text {
                width: fit-content;
            }
            
            .m-searching:hover {
                display: block;
                background-color: gray;
                padding: 20px;
            }
            
            .m-light {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                /* or 21px */
                color: #FFFFFF;
                /* filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25));*/
            }
            
            .m-bold {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 21px;
                line-height: 29px;
                letter-spacing: 0.1em;
                color: rgba(255, 255, 255, 1);
                padding-bottom: 20px;
            }
            
            .about__numbers {
                padding: 0px 35px;
                width: max-content;
            }
            
            .group_one {}
            
            .about__picture {
                width: 30%;
            }
            
            .projects {
                position: absolute;
                margin-left: 150px;
                filter: opacity(80%);
            }
            
            .projects__headline {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 65px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                /* gold */
                color: white;
                margin-bottom: 100px;
            }
            
            .projects__slider {
                width: 1770px;
                height: 550px;
                left: 150px;
                top: 1967px;
                display: flex;
                flex-direction: row;
            }
            
            .slider__item {
                width: 442px;
                height: 550px;
                left: 150px;
                top: 1967px;
            }
            
            .raiting {
                /*width: 1110px;*/
                height: 550px;
                background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../project2/pics/премия.jpg);
                /*filter: opacity(70%);*/
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 1000px 405px 150px;
            }
            
            .raiting__years {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 72px;
                line-height: 98px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                /* gold */
                padding: 125px 50px 125px 150px;
            }
            
            .raiting__column {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            
            .column__stars {
                /* width: 50%;*/
                font-size: 62px;
                display: flex;
                flex-direction: row;
                padding: 125px 50px 30px 50px;
            }
            
            .fa-star {
                padding: 15px;
            }
            
            .column__text {
                width: 50%;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 150%;
                color: white;
                padding: 0px 50px 0px 50px;
            }
            
            .partners {
                width: 1034px;
                height: 437px;
                margin: 150px 500px;
                filter: opacity(80%);
            }
            
            .partners__headline {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 65px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                /* gold */
                color: white;
                margin-bottom: 100px;
                justify-content: center;
            }
            
            .partners__logo {
                Fill: Solid rgba(255, 255, 255, 0.5)
            }
            
            .contacts {
                margin: 150px 450px;
                filter: opacity(80%);
            }
            
            .contacts__headline {
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 65px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: white;
                margin-bottom: 100px;
                justify-content: center;
            }
            
            .contacts__body {
                display: flex;
                flex-direction: row;
                color: white;
            }
            
            .adress {
                line-height: 40px;
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.05em;
                margin: 20px 170px 20px 20px;
                filter: opacity(80%);
            }
            
            form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 60%;
            }
            
            .form__forinputs {
                width: 60%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            input {
                width: 35%;
                margin: 10px 10px 20px 10px;
                background-color: rgb(78, 76, 76);
                border: 0px;
                padding: 15px;
                height: fit-content;
                color: #D1A954;
            }
            
            textarea {
                background-color: rgb(78, 76, 76);
                margin: 10px 0px;
                padding-left: 10px;
                padding-top: 10px;
                border: 0px;
                height: 51.5%;
                color: #D1A954;
            }
            
            button {
                color: white;
                padding: 10px 20px;
            }
            
            .form__button {
                margin-left: 470px;
                margin-top: 5px;
                width: 30%;
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                justify-content: center;
                height: fit-content;
                padding: 7px;
            }
            
            .m-gold {
                color: #D1A954;
            }
            
            .m-goldback {
                background-color: #D1A954;
            }
            
            footer {
                background-color: rgba(51, 51, 51, 1);
                margin: 0px;
            }
            
            .footer__text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: white;
                margin: 20px 530px 0px 470px;
                padding-bottom: 20px;
                filter: opacity(70%);
            }
            
            .footer__line {
                height: 2px;
                background-color: rgba(86, 86, 86, 1);
                margin: 0px 0px 20px 470px;
                width: 51%;
            }